{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2 mx-auto" style="width:700px;">
        <div class="panel panel-default">
            <!--            <div class="panel-heading">-->
            <!--                <h3 class="panel-title">Poll Result</h3>-->
            <!--            </div>-->

            <div class="panel-body">
                <h3>{{ poll.question }}</h3>
            </div>

            <ul class="list-group">
                <li class="list-group-item"> {{ poll.option_one }} &mdash; <strong>{{ poll.option_one_count }}</strong>
                    <a> ({{ poll.option_one_percent }}%) </a>
                </li>
                <li class="list-group-item">{{ poll.option_two }} &mdash; <strong>{{ poll.option_two_count }}</strong>
                    <a> ({{ poll.option_two_percent }}%) </a>
                </li>
                <li class="list-group-item">{{ poll.option_three }} &mdash; <strong>{{ poll.option_three_count }} </strong>
                    <a> ({{ poll.option_three_percent }}%) </a>
                </li>
            </ul>

            <div class="panel-footer" style="margin-top: 20px;">
                Total &mdash; <strong>{{ poll.total }}</strong>
                <div style="font-weight: bold; margin-top: 20px;"> Author - {{ poll.author.username }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}